
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>successSubmit</title>
</head>
<body>
    <div> 
        <p>Спасибо за покупку</p>
        <a href="/Product/all">к товарам</a>
    </div>
</body>
</html>
