
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/Product/all" method="get">
            <input type="submit" value="За покупками"/> 
        </form>
        <br />
        <form action="/Product/adminLogin" method="get">
            <input type="submit" value="Войти как админ "/> 
        </form>
        
    </div>
</body>
</html>
