
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>@ViewBag.Message</p>
        <form action="/Home" method="get">
            <input type="submit" value="На главную" />
        </form>
    </div>
</body>
</html>
